<footer>
    <div class="item_footer"></div>
        <span>Created By <a href="#">Ayush</a> | <span class="fa fa-copyright"></span>2021 All rights reserved.</span>
        <div class="logos">
            <a href="https://www.instagram.com/_ashu.1810/"><img src="/static/images/insta.png" alt=""></a>
            <a href="https://github.com/Ashu8242"><img src="/static/images/git.png" alt=""></a>
            <a href="https://www.linkedin.com/in/ayush-kumar-0b476419a/"><img src="/static/images/linkedin.png" alt=""></a>
        </div>
    </div>
</footer>

<script src="/static/script.js"></script>
</body>

</html>